# UiPath generated folders
.screenshots/
.local/
.objects/
.entities/
.generated/
.templates/
packages/
.storage/

# UiPath temp workflow backups
~*.xaml
*.user
################################################################################
# Added by UiPath Studio
# Prevent caching and local artifacts from being committed
################################################################################
.local
################################################################################
# End of UiPath Studio common ignores
################################################################################
